WcfService1/AssignmentOne/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="isPrime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isPrimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isPrimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumDigitsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="htmlOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="htmlOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="htmlOutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortNums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nums" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortNumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortNumsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>