WcfService1/AssignmentOne/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58861/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58861/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_isPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:isPrime" />
  </wsdl:message>
  <wsdl:message name="IService1_isPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:isPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sumDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:sumDigits" />
  </wsdl:message>
  <wsdl:message name="IService1_sumDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:reverseString" />
  </wsdl:message>
  <wsdl:message name="IService1_reverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:reverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_htmlOut_InputMessage">
    <wsdl:part name="parameters" element="tns:htmlOut" />
  </wsdl:message>
  <wsdl:message name="IService1_htmlOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:htmlOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sortNums_InputMessage">
    <wsdl:part name="parameters" element="tns:sortNums" />
  </wsdl:message>
  <wsdl:message name="IService1_sortNums_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortNumsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="isPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isPrime" message="tns:IService1_isPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isPrimeResponse" message="tns:IService1_isPrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sumDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sumDigits" message="tns:IService1_sumDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sumDigitsResponse" message="tns:IService1_sumDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reverseString" message="tns:IService1_reverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reverseStringResponse" message="tns:IService1_reverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="htmlOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/htmlOut" message="tns:IService1_htmlOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/htmlOutResponse" message="tns:IService1_htmlOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortNums">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sortNums" message="tns:IService1_sortNums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sortNumsResponse" message="tns:IService1_sortNums_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isPrime">
      <soap:operation soapAction="http://tempuri.org/IService1/isPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumDigits">
      <soap:operation soapAction="http://tempuri.org/IService1/sumDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <soap:operation soapAction="http://tempuri.org/IService1/reverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="htmlOut">
      <soap:operation soapAction="http://tempuri.org/IService1/htmlOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortNums">
      <soap:operation soapAction="http://tempuri.org/IService1/sortNums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58861/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>